.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  overflow-x: hidden;
}

.title {
  margin: 0 0 0.2rem;
  line-height: 1.5;
  font-size: 3.6rem;
  background-image: linear-gradient(to left, #ffd100, #ffee32);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.title {
  text-align: center;
}

.title,
.description {
  text-align: center;
}

.description {
  color: #9c9a9a;
  line-height: 0.1;
  font-size: 1.2rem;
}

.componentes{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 100vw;
  height: auto;
  padding-left: 1.8rem;
}

.lista{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 20%;
}

.lista ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding-left: 0.2rem;
}

.lista ul li{
  margin: 0.5rem 0;
}

.pages{
  text-decoration: none;
}

.showroom{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 80%;
  padding-top: 1.2rem;
}

.showroom ul{
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding-left: 1rem;
}

.showroom ul li{
  margin-left: 2rem;
}

.informacion{
  padding: 0.5rem 0.4rem;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.logo {
  height: 2.2em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
